<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weking.mapper.keyword.KeyWordMapper" >

  <select id="selectKeyWordList" resultType="String" >
    select key_word from wk_key_word
  </select>


  <insert id="insertBatch" parameterType="list">
    insert into wk_key_word (key_word) values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item})
    </foreach>
  </insert>

  <delete id="del" parameterType="list" >
    delete from wk_key_word
    where id in (
    <foreach collection="list" item="item" index="index" separator=",">
      #{item}
    </foreach>
    )
  </delete>

</mapper>