<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weking.mapper.system.SystemMapper">
    <resultMap id="BaseResultMap" type="com.weking.model.system.System">
        <result column="args" property="args" jdbcType="VARCHAR"/>
        <result column="aves" property="aves" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    args,aves,name
  </sql>
    <select id="selectByArgs" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from wk_system
        where args = #{args,jdbcType=VARCHAR}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from wk_system
    </select>
</mapper>