<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weking.mapper.vip.VipExpLogMapper" >
  <resultMap id="BaseResultMap" type="com.weking.model.vip.VipExpLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="exp_num" property="expNum" jdbcType="INTEGER" />
    <result column="exp_type" property="expType" jdbcType="TINYINT" />
    <result column="add_time" property="addTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, exp_num, exp_type, add_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from wk_vip_exp_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from wk_vip_exp_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.weking.model.vip.VipExpLog" >
    insert into wk_vip_exp_log (id, user_id, exp_num, 
      exp_type, add_time)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=INTEGER}, #{expNum,jdbcType=INTEGER}, 
      #{expType,jdbcType=TINYINT}, #{addTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.weking.model.vip.VipExpLog" >
    insert into wk_vip_exp_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="expNum != null" >
        exp_num,
      </if>
      <if test="expType != null" >
        exp_type,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="expNum != null" >
        #{expNum,jdbcType=INTEGER},
      </if>
      <if test="expType != null" >
        #{expType,jdbcType=TINYINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.weking.model.vip.VipExpLog" >
    update wk_vip_exp_log
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="expNum != null" >
        exp_num = #{expNum,jdbcType=INTEGER},
      </if>
      <if test="expType != null" >
        exp_type = #{expType,jdbcType=TINYINT},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weking.model.vip.VipExpLog" >
    update wk_vip_exp_log
    set user_id = #{userId,jdbcType=INTEGER},
      exp_num = #{expNum,jdbcType=INTEGER},
      exp_type = #{expType,jdbcType=TINYINT},
      add_time = #{addTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>