<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weking.mapper.task.TaskLogMapper">
    <resultMap id="BaseResultMap" type="com.weking.model.task.TaskLog">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="task_id" property="taskId" jdbcType="SMALLINT"/>
        <result column="reward_coin" property="rewardCoin" jdbcType="INTEGER"/>
        <result column="add_time" property="addTime" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, task_id, reward_coin, add_time,live_id,task_type,share_type
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from wk_task_log
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectTaskCountByUserId" resultType="int" parameterType="java.lang.Integer">
    select count(*)
    from wk_task_log
    where user_id = #{userId,jdbcType=INTEGER} AND task_id = #{taskId,jdbcType=INTEGER} AND add_time >= #{addTime} AND reward_coin > 0
  </select>

    <select id="selectShareTaskCountByUserId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    select COUNT(*) as id
    from wk_task_log
    where user_id = #{userId,jdbcType=INTEGER} AND task_id = #{taskId,jdbcType=INTEGER} AND add_time >= #{addTime}
  </select>

    <select id="selectShareTaskLogByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from wk_task_log
        where user_id = #{userId,jdbcType=INTEGER} AND task_id = #{taskId,jdbcType=INTEGER} AND add_time >= #{addTime}
        ORDER BY id DESC limit 1
    </select>

    <select id="selectLastLoginTaskLogByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from wk_task_log
        where user_id = #{userId,jdbcType=INTEGER} AND task_id IN (SELECT id FROM wk_task_item WHERE task_type = 3)
        ORDER BY id DESC limit 1
    </select>

    <select id="findEndFreeCoin" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from wk_task_log
        where user_id = #{userId,jdbcType=INTEGER} AND add_time >= #{addTime} AND task_id = 0 ORDER BY id desc limit 1
    </select>
    <select id="selectFreeCoinCountReceive" resultType="int" parameterType="java.lang.Integer">
    select COUNT(*)
    from wk_task_log
    where user_id = #{userId,jdbcType=INTEGER} AND add_time >= #{addTime} AND task_id = 0
  </select>

    <select id="selectReceiveCountByToday" resultType="int" parameterType="java.lang.Integer">
    select COUNT(*)
    from wk_task_log
    where user_id = #{userId,jdbcType=INTEGER} AND add_time >= #{addTime} AND task_id IN
    (SELECT id FROM wk_task_item WHERE task_type &lt;>3) AND reward_coin > 0
  </select>

    <insert id="insert" parameterType="com.weking.model.task.TaskLog">
    insert into wk_task_log (user_id, task_id,
      reward_coin,reward_type,add_time,live_id,task_type,share_type)
    values (#{userId,jdbcType=INTEGER}, #{taskId,jdbcType=SMALLINT},
      #{rewardCoin,jdbcType=INTEGER},#{rewardType,jdbcType=INTEGER}, #{addTime,jdbcType=BIGINT},
      #{live_id,jdbcType=INTEGER},#{task_type,jdbcType=INTEGER},#{share_type,jdbcType=VARCHAR})
  </insert>

    <update id="editShareTaskByUserId" parameterType="java.lang.Integer">
    UPDATE wk_task_log SET reward_coin = #{rewardCoin}
    where id = #{id}
  </update>

    <select id="selectLogByType" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from wk_task_log
        where user_id = #{user_id} AND add_time >= #{bTime} and add_time &lt;=#{eTime} AND task_type = #{task_type}
    </select>

    <select id="selectLogByTaskId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from wk_task_log
        where user_id = #{user_id} AND add_time >= #{bTime} and add_time &lt;=#{eTime} AND task_id = #{task_id}
        limit 1
    </select>

    <select id="selectLastLiveSinInByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from wk_task_log
        where user_id = #{userId,jdbcType=INTEGER} AND task_id IN (SELECT id FROM wk_task_item WHERE task_type = 8)
        ORDER BY id DESC limit 1
    </select>


</mapper>