<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weking.mapper.post.PostMetaMapper">
    <resultMap id="BaseResultMap" type="com.weking.model.post.PostMeta">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="post_id" property="postId" jdbcType="INTEGER"/>
        <result column="meta_key" property="meta_key" jdbcType="VARCHAR"/>
        <result column="meta_value" property="meta_value" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, post_id, meta_key, meta_value
  </sql>
    <select id="selectByPostId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from wk_post_meta
        where post_id = #{postId}

    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wk_post_like
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByPostId" parameterType="java.lang.Integer">
    delete from wk_post_meta
    where post_id = #{postId}
  </delete>
    <insert id="insertSelective" parameterType="com.weking.model.post.PostMeta">
        insert into wk_post_meta
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="post_id != null">
                post_id,
            </if>
            <if test="meta_key != null">
                meta_key,
            </if>
            <if test="meta_value != null">
                meta_value,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="post_id != null">
                #{post_id,jdbcType=INTEGER},
            </if>
            <if test="meta_key != null">
                #{meta_key,jdbcType=VARCHAR},
            </if>
            <if test="meta_value != null">
                #{meta_value,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>