<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weking.mapper.pocket.PlatformIncomeMapper" >
  <resultMap id="BaseResultMap" type="com.weking.model.pocket.PlatformIncome" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="day_date" property="dayDate" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="amount" property="amount" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, day_date, type, amount
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wk_platform_income
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wk_platform_income
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.weking.model.pocket.PlatformIncome" >
    insert into wk_platform_income (id, day_date, type, 
      amount)
    values (#{id,jdbcType=INTEGER}, #{dayDate,jdbcType=BIGINT}, #{type,jdbcType=TINYINT}, 
      #{amount,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.weking.model.pocket.PlatformIncome" >
    insert into wk_platform_income
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dayDate != null" >
        day_date,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="amount != null" >
        amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dayDate != null" >
        #{dayDate,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.weking.model.pocket.PlatformIncome" >
    update wk_platform_income
    <set >
      <if test="dayDate != null" >
        day_date = #{dayDate,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weking.model.pocket.PlatformIncome" >
    update wk_platform_income
    set day_date = #{dayDate,jdbcType=BIGINT},
      type = #{type,jdbcType=TINYINT},
      amount = #{amount,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getTodayPlatformIncome"  resultType="Double">
    SELECT SUM(amount) as amount
    FROM wk_platform_income
    WHERE day_date = #{day_date}
  </select>

  <select id="findTodayPlatformIncome"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from wk_platform_income
    where day_date = #{day_date} AND type = #{type}
  </select>

</mapper>