<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weking.mapper.game.BetLogMapper" >
  <resultMap id="BaseResultMap" type="com.weking.model.game.BetLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="game_id" property="gameId" jdbcType="BIGINT" />
    <result column="position_id" property="positionId" jdbcType="TINYINT" />
    <result column="bet_num" property="betNum" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, game_id, position_id, bet_num, add_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from wk_bet_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from wk_bet_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.weking.model.game.BetLog" >
    insert into wk_bet_log (id, user_id, game_id, 
      position_id, bet_num, add_time
      )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=INTEGER}, #{gameId,jdbcType=BIGINT}, 
      #{positionId,jdbcType=TINYINT}, #{betNum,jdbcType=INTEGER}, #{addTime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.weking.model.game.BetLog" >
    insert into wk_bet_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="gameId != null" >
        game_id,
      </if>
      <if test="positionId != null" >
        position_id,
      </if>
      <if test="betNum != null" >
        bet_num,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="gameId != null" >
        #{gameId,jdbcType=BIGINT},
      </if>
      <if test="positionId != null" >
        #{positionId,jdbcType=TINYINT},
      </if>
      <if test="betNum != null" >
        #{betNum,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.weking.model.game.BetLog" >
    update wk_bet_log
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="gameId != null" >
        game_id = #{gameId,jdbcType=BIGINT},
      </if>
      <if test="positionId != null" >
        position_id = #{positionId,jdbcType=TINYINT},
      </if>
      <if test="betNum != null" >
        bet_num = #{betNum,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weking.model.game.BetLog" >
    update wk_bet_log
    set user_id = #{userId,jdbcType=INTEGER},
      game_id = #{gameId,jdbcType=BIGINT},
      position_id = #{positionId,jdbcType=TINYINT},
      bet_num = #{betNum,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <delete id="deleteBetLogByGameId" parameterType="java.lang.Long" >
    delete from wk_bet_log
    where game_id = #{gameId}
  </delete>
</mapper>